.profile-card {
  border: 1px solid #782626;
  border-radius: 12px;
  padding: 16px;
  margin: 12px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(118, 114, 114, 0.1);
  border: solid 3px black;
}
  
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  
}

.profiles-container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  background-color: rgb(255, 255, 255);
}